<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    
 <!-- =========================
            MENUS
        ========================== -->
    <menuitem id="menu_wo_v4"
            name="العناية بالسيارات"
            action="action_menu_wo_v4"
            sequence="4"/>

    <menuitem id="menu_wo_v4_operation"
              name="العمليات"
              parent="menu_wo_v4"
              sequence="1"/>

    <menuitem id="menu_wo_v4_products"
              name="المنتجات"
              parent="menu_wo_v4"
              sequence="2"/>

    <menuitem id="menu_wo_v4_reports"
              name="التقارير"
              parent="menu_wo_v4"
              sequence="3"/>

    <menuitem id="menu_wo_v4_configuration"
              name="تهيئة النظام"
              parent="menu_wo_v4"
           
              sequence="4"  />
 </odoo>