/* hover فقط للكارد */
.hover-card {
    transition: all 0.2s ease-in-out;
}

.hover-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.18);
}

/* KPI ثابت */
.kpi-box {
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}